body {
    background-color: lightgray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    /* background-color: #16302B; */
    margin: 5px;
    /* color: #50C9CE; */
}

.sections {
    background-color: #404E4D;
    border-radius: 25px;
    padding: 20px;
}

.favorable {
    background-color: green;
    display: inline-block;
    padding: 5px;
}

.moderate {
    background-color: orange;
    display: inline-block;
    padding: 5px;
}

.high {
    background-color: red;
    display: inline-block;
    padding: 5px;
}

.card-row {
    display: flex;
}

.forecast-day {
    background-color: #62BEC1;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: #646881;
}

#weather-div {
    padding: 20px;
}

body {
    color: #FA7921;
}